<footer>
        <div class="icon">
                <a href="#page" title="back to page"><img class="icon__footer"
                                src="./assets/images/ico-arrow.svg" /></a>
                <div>
                        <section class="footer">
                                <nav class="footer__list">
                                        <ul>
                                                <li class="footer__list--link"><a class="footer__list--item "
                                                                href="https://adalab.es" target="_blank">articles</a>
                                                </li>
                                                <li class="footer__list--link"> <a class="footer__list--item "
                                                                href="https://adalab.es" target="_blank">books </a>
                                                </li>
                                                <li class="footer__list--link"><a class="footer__list--item "
                                                                href="https://adalab.es" target="_blank">events</a></li>
                                                <li class="footer__list--link"> <a class="footer__list--item "
                                                                href="https://adalab.es" target="_blank">reasons</a>
                                                </li>
                                                <li class="footer__list--link"> <a class="footer__list--item "
                                                                href="https://adalab.es" target="_blank">tips</a></li>
                                        </ul>
                                </nav>
                                <nav class="footer__category">
                                        <ul>
                                                <li class=" footer__category--link"> <a class="footer__category--item "
                                                                href="https://adalab.es" target="_blank">twitter</a>
                                                </li>
                                                <li class=" footer__category--link"> <a class="footer__category--item "
                                                                href="https://adalab.es" target="_blank">instagram</a>
                                                </li>

                                                <li class="footer__category--link"> <a class="footer__category--item "
                                                                href="https://adalab.es"
                                                                target="_blank">mastodon.social</a>
                                                </li>

                                        </ul>
                                </nav>
                                <div class="footer__details">

                                        <small class="footer__details--copy">&copy2021</small>
                                        <small class="footer__details--welove">
                                                we <span class="footer__details--weloveheart">&#x2764</span> components
                                        </small>
                                </div>

                        </section>
</footer>