<footer class="footer">
    <a href="#page" title="back to page"><img class="footer__img" src="./assets/images/ico-arrow.svg" /></a>
    <nav>
        <ul>
            <div class="footer__list">
                <li class="footer__list--link"> articles <a href="https://adalab.es" target="_blank"></a></li>
                <li class="footer__list--link"> books <a href="https://adalab.es" target="_blank"></a>
                </li>
                <li class="footer__list--link"> events<a href="https://adalab.es" target="_blank"></a></li>
                <li class="footer__list--link"> reasons<a href="https://adalab.es" target="_blank"></a></li>
                <li class="footer__list--link">tips <a href="https://adalab.es" target="_blank"></a></li>
            </div>
            <div class="footer_list">
                <li class="footer__list--link"> twitter<a href="https://adalab.es" target="_blank"></a></li>
                <li class="footer__list--link"> instagram <a href="https://adalab.es" target="_blank"></a></li>
            </div>


            <li class="footer__list--link"> mastodon.social <a href="https://adalab.es" target="_blank"></a></li>

        </ul>
    </nav>
    <small class="footer__copy">&copy2021</small>
    <div class="footer__welove">
        we <span class="footer__welove--heart">&#x2764</span> components
    </div>

</footer>