<header class="header" id="page">
    <nav class="header__nav">
        <a href="https://www.adalab.es" target="_blank"><img class="header__nav--menu"
                src="./assets/images/ico-menu.svg" alt="menu-page" /><a>
    </nav>
    <h1 class="header__tittle">
        anonimus proxy
    </h1>
    <h2 class="header__subtittle">
        in hac habitasse latea dictumst
    </h2>
    <a href="#reasons" title="Reasons to purchase"><img class="header__img"
            src="./assets/images/ico-scroll-down.svg" /></a>

</header>