<main class="main">
    <section class="section1">
        <h4 class=section1__tips>insomnia tips</h4>
        <article>
            <h2 class="section1__tittle">looking through a window</h2>
            <p class="section1__p">
                donec accumsan,nulla ut volutpat porttitor,quam odio tempus felis,at luctus ex diam nec lectus.Vivamus
                semper
                sodales
                rutrum.

            </p>
            <button class="section1__button">go</button>
        </article>
    </section>
    <section id="reasons" class="section2">
        <h2 class="section2__tittle">
            3 reasons to purchase
        </h2>
        <article class="section2__container section2__container1">
            <h3 class=" section2__container--tittle">ut sed metus</h3>
            <p class="section2__container--p">lorem ipsum dolor sit amet,consecteur</p>
        </article>
        <article class="section2__container section2__container2">
            <h3 class="section2__container--tittle">
                curabitur ac erat
            </h3>
            <p class="section2__container--p">
                mauris mattis urna quis lorem molestie
            </p>
        </article>
        <article class="section2__container section2__container3">
            <h3 class="section2__container--tittle">
                morbi dictum
            </h3>
            <p class="section2__container--p">
                aliquam in dolor et dolor tincidunt
            </p>
        </article>

        <button class="section2__button">more reasons</button>


    </section>
</main>