/* fonts
$font-main: 'Roboto', sans-serif;

// colors
$color-bg: #f3f4f5;
$color-secondary: #999;*/
$color-header-footer: #ffff;
$font-tittle: "Roboto Slab", serif;
$font-text: "Roboto", sans-serif;
$colorback-section1: #ffffff;
$color-p1: #4a4a4a;
$color-button: #f26002;
$color-menu: #0271bc;
$color-section2: #000000;
$colorback-section2: #eff9ff;
$colorback-footer: #304268;
