.footer {
  background-color: $colorback-footer;
  color: $color-header-footer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-family: $font-text;
  text-align: center;

  &__list {
    margin-bottom: 30px;
  }

  &__list--link {
    margin: 0px 53px 0px 54px;
    list-style: none;
    color: $color-header-footer;
    line-height: 1.88;
    font-size: 16px;
  }
  &__list--item {
    list-style: none;
    text-decoration: none;
    color: $color-header-footer;
  }
  &__img {
    background-color: $colorback-section1;
    border-radius: 22.5px;
    padding: 11px 12.4px 10px 12px;
    position: relative;
    top: 50%;
    transform: translate(0, -22px);
  }

  &__copy {
    font-size: 14px;
    margin: 30px 51px 0px 52px;
    height: 30px;
  }
  &__welove {
    text-transform: lowercase;
    font-size: 14px;
    margin: 0px 15px 45px 15px;
    &--heart {
      color: $color-button;
    }
  }
}
@media all and(min-width:768px) {
  .footer__list {
    align-items: flex-start;
  }
}
