.header {
  background-image: url("../images/cover.jpg");
  background-position: center;
  height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  color: $color-header-footer;
  &__nav {
    &--menu {
      position: fixed;
      top: 0;
      left: 0;
      background-color: $color-menu;
      width: 44px;
      height: 44px;
      padding: 14px;
      z-index: 99;
    }
  }
  &__img {
    background-color: $colorback-section1;
    padding: 18px 12px 15.3px 13px;
    border-radius: 22.5px;
    margin: 45px 0px 53px 0px;
    @media all and (min-width: 768px) {
      margin-bottom: 45px;
    }
    @media all and (min-width: 1280px) {
      margin-bottom: 13px;
    }
  }

  &__tittle {
    text-transform: uppercase;
    font-family: $font-tittle;
    font-size: 42px;
    width: 290px;
    line-height: 1.31;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
    margin: 0px 0px 10px 0px;
    @media all and (min-width: 768px) {
      font-size: 80px;
      width: 690px;
      margin: 0px 0px 20px 0px;
    }
    @media all and (min-width: 1280px) {
      font-size: 100px;
      line-height: 1.32;
      width: 730px;
      margin: 0px 0px 0px 0px;
    }
  }
  &__subtittle {
    font-family: $font-text;
    font-size: 16px;
    font-weight: normal;
    margin: 0px 15px 0px 15px;
    @media all and (min-width: 768px) {
      font-size: 24px;
    }
    @media all and (min-width: 1280px) {
      font-size: 24px;
      margin: 0px 0px 0px 0px;
      padding-top: 10px;
    }
  }
  &__subtittle:first-letter {
    text-transform: uppercase;
  }
}
