.section2 {
  background-color: $colorback-section2;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  @media all and(min-width:1280px) {
    padding-left: 81.2px;
    padding-right: 85px;
  }
  &__tittle {
    grid-column: 1/4;
    font-family: $font-tittle;
    font-size: 24px;
    font-weight: bold;
    color: $color-section2;
    padding-top: 30px;
    margin: 0px 15px 45px 15px;
    text-align: center;
    text-transform: capitalize;
    @media all and(min-width:768px) {
      font-size: 26px;
      margin-bottom: 14px;
    }
    @media all and(min-width:1280px) {
      font-size: 32px;
    }
  }
  &__container {
    text-align: center;

    grid-column: 1/4;

    line-height: 30px;
    &--tittle {
      font-family: $font-tittle;
      font-size: 18px;
      font-weight: bold;
      @media all and(min-width:768px) {
        font-size: 20px;
      }
    }
    &--tittle:first-letter {
      text-transform: uppercase;
    }

    &--p {
      font-family: $font-text;
      font-size: 18px;

      margin: 0px 70px 45px 70px;
      @media all and(min-width:768px) {
        font-size: 20px;
        margin-left: auto;
        margin-right: auto;
      }
      @media all and(min-width:1280px) {
        width: 353.8px;
      }
    }

    &--p:first-letter {
      text-transform: uppercase;
    }
  }
  &__button {
    grid-column: 2/3;
    font-family: $font-text;
    text-transform: capitalize;
    font-weight: 500px;
    font-size: 20px;
    color: $colorback-section1;
    background-color: $color-button;
    border-radius: 22.5px;
    border: solid 2px $color-button;
    margin-bottom: 60px;
    width: 184px;
    padding: 10px;
    transition: background-color font-size 1s ease;
    &:hover {
      background-color: burlywood;
      font-size: 24px;
    }
    @media all and(min-width:768px) {
      width: 210px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

@media all and(min-width:768px) {
  .section2 {
    &__container1 {
      grid-column: 1/2;
    }
    &__container2 {
      grid-column: 2/3;
    }
    &__container3 {
      grid-column: 3/4;
    }
  }
}
