@import "core/variables";
@import "core/reset";
/*@import 'components/code';
@import 'components/links';
@import 'layout/page';
@import 'layout/header';
@import 'layout/footer';
@import 'pages/index';*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {
  background-image: url("../images/cover.jpg");
  background-position: center;
  background-blend-mode: multiply;
  height: 100%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: $color-header-footer;
  &__nav {
    &--menu {
      position: fixed;
      top: 0;
      left: 0;
      background-color: $color-menu;
      width: 44px;
      height: 44px;
      padding: 14px;
      z-index: 99;
    }
  }
  &__img {
    background-color: $colorback-section1;
    padding: 18px 12px 15.3px 13px;
    border-radius: 22.5px;
    margin: 45px 0px 53px 0px;
  }

  &__tittle {
    text-transform: uppercase;
    font-family: $font-tittle;
    font-size: 42px;
    height: 110px;
    line-height: 1.31;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
    margin: 284px 15px 10px 15px;
  }
  &__subtittle {
    font-family: $font-text;
    font-size: 16px;
    font-weight: normal;
    margin: 0px 15px 0px 15px;
  }
  &__subtittle:first-letter {
    text-transform: uppercase;
  }
}

.section1 {
  margin: 30px 15px 0px 15px;
  background-color: $colorback-section1;
  text-transform: capitalize;
  line-height: 30px;

  &__tips {
    font-family: $font-text;
    font-weight: normal;
    font-size: 14px;
    color: #8ccbea;
    margin: 0px 215px 1px 0px;
    width: 90px;
  }
  &__tittle {
    font-family: $font-tittle;
    font-size: 24px;
    margin: 0px 0px 15px 0px;
  }
  &__p {
    text-transform: lowercase;
    font-family: $font-text;
    font-size: 18px;
    color: $color-p1;
    margin: 0px 0px 30px 0px;
  }
  /*&__p:first-letter {
    text-transform: capitalize;
  }*/

  &__button {
    font-family: $font-text;
    text-transform: capitalize;
    font-weight: 500px;
    font-size: 20px;
    width: 76px;
    height: 45px;
    margin: 0px 0px 45px 0px;
    padding: 0px 26px 0px 26px;
    color: $color-button;
    border-radius: 22.5px;
    border: solid 2px $color-button;
    transition: background-color color border-radius 1s ease;
    &:hover {
      background-color: navajowhite;
      border-style: solid;
      border-color: #95a5a6;
      border-color: #000;
      color: oldlace;
    }
  }
  &__p:first-letter {
    text-transform: uppercase;
  }
}

.section2 {
  background-color: $colorback-section2;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  &__tittle {
    grid-column: 1/4;
    font-family: $font-tittle;
    font-size: 24px;
    font-weight: bold;
    color: $color-section2;
    padding-top: 30px;
    margin: 0px 15px 45px 15px;
    text-align: center;
    text-transform: capitalize;
  }
  &__container {
    grid-column: 1/4;
    text-align: center;
    text-transform: capitalize;
    line-height: 30px;
    &--tittle {
      font-family: $font-tittle;
      font-size: 18px;
      font-weight: bold;
    }

    &--p {
      font-family: $font-text;
      font-size: 18px;
      margin: 0px 70px 45px 70px;
    }
  }
  &__button {
    grid-column: 2/3;
    font-family: $font-text;
    text-transform: capitalize;
    font-weight: 500px;
    font-size: 20px;
    color: $colorback-section1;
    background-color: $color-button;
    border-radius: 22.5px;
    border: solid 2px $color-button;
    margin-bottom: 60px;
    padding: 10px;
    transition: background-color font-size 1s ease;
    &:hover {
      background-color: burlywood;
      font-size: 24px;
    }
  }
}
.footer {
  background-color: $colorback-footer;
  color: $color-header-footer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-family: $font-text;
  text-align: center;
  &__list {
    margin-bottom: 30px;
    &--link {
      margin: 0px 53px 0px 54px;
      list-style: none;
      color: $color-header-footer;
      line-height: 1.88;
      font-size: 16px;
    }
  }
  &__img {
    background-color: $colorback-section1;
    border-radius: 22.5px;
    padding: 11px 12.4px 10px 12px;
    position: relative;
    top: 50%;
    transform: translate(0, -22px);
  }
  &__copy {
    font-size: 14px;
    margin: 30px 51px 0px 52px;
    height: 30px;
  }
  &__welove {
    text-transform: lowercase;
    font-size: 14px;
    margin: 0px 15px 45px 15px;
    &--heart {
      color: $color-button;
    }
  }
}
